<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Blog Post App</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-light bg-success">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Add New Blog Post</span>
      <a class="nav-link bg-light" href="./">Go Back</a>
    </div>
  </nav>
  <div class="container">
    <form action="/newpost" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="title">
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="text" class="form-control" name="category" id="category" placeholder="category">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" name="content" id="content" rows="5"></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
  </div>
</body>

</html>
